<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body about">
    <div class="container">
        <div class="about-row">
            <div class="img">
                <img data-src="/img/about/about_1.jpg" alt="time" class="lozad first">
            </div>
            <div class="text">
                <p>Компания SW-CLIMAT — это сплочённая команда профессионалов.</p>
                <p>Цель компании — взять на себя все проблемы создания уютного климата.</p>
                <p>Мы уверены в своих силах, потому, что сделали ставку на самые современные и функциональные технологии кондиционирования.</p>
                <p>Преимущества сотрудничества с нами:</p>
                <p>скорость и качество обслуживания,</p>
                <p>наличие службы постоянной технической поддержки клиентов,</p>
                <p>разработка индивидуальных схем работы с частными и корпоративными клиентами,</p>
                <p>большой выбор моделей кондиционеров на любой вкус и кошелёк.</p>
                <p>Гарантии от SW-CLIMAT — это опыт, современное техническое оснащение, долгосрочная и юридически оформленная уверенность в завтрашнем дне.</p>
                <p>Ценовая политика от SW-CLIMAT — это гибкая система скидок как для наших новых клиентов, так и для постоянных.</p>
                <p>SW-CLIMAT предлагает широкий перечень всех услуг монтажа и технического обслуживания систем кондиционирования на максимально высоком уровне.</p>
                <p>Мы постоянно совершенствуемся, растём, развиваемся, повышаем уровень качества работы.</p>
                <p>Стиль бизнеса SW-CLIMAT — ориентация на будущее,стремление к новым высотам!</p>
            </div>
        </div>
    </div>
</div>





<%= _.template(require('./../includes/footer.html').default)(data) %>