<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body about">
    <div class="section no-padding-top">
        <div class="container">
            <div class="breadcrumbs">
                <a href="#1" class="item link">Главная</a>
                /
                <a href="#1" class="item">О нас</a>
            </div>
            <div class="about-row">
                <div class="img">
                    <img data-src="/img/about/about_1.jpg" alt="time" class="lozad first">
                </div>
                <div class="text">
                    <p>Компания <span class="font-weight-bold color-main">SW-CLIMAT</span> — это сплочённая команда профессионалов.</p>
                    <p>Цель компании — взять на себя все проблемы создания уютного климата.</p>
                    <p>Мы уверены в своих силах, потому, что сделали ставку на самые современные и функциональные технологии кондиционирования.</p>
                    <p>Преимущества сотрудничества с нами:</p>
                    <p>скорость и качество обслуживания,</p>
                    <p>наличие службы постоянной технической поддержки клиентов,</p>
                    <p>разработка индивидуальных схем работы с частными и корпоративными клиентами,</p>
                    <p>большой выбор моделей кондиционеров на любой вкус и кошелёк.</p>
                    <p>Гарантии от <span class="font-weight-bold color-main">SW-CLIMAT</span> — это опыт, современное техническое оснащение, долгосрочная и юридически оформленная уверенность в завтрашнем дне.</p>
                    <p>Ценовая политика от <span class="font-weight-bold color-main">SW-CLIMAT</span> — это гибкая система скидок как для наших новых клиентов, так и для постоянных.</p>
                    <p><span class="font-weight-bold color-main">SW-CLIMAT</span> предлагает широкий перечень всех услуг монтажа и технического обслуживания систем кондиционирования на максимально высоком уровне.</p>
                    <p>Мы постоянно совершенствуемся, растём, развиваемся, повышаем уровень качества работы.</p>
                    <p>Стиль бизнеса <span class="font-weight-bold color-main">SW-CLIMAT</span> — ориентация на будущее,стремление к новым высотам!</p>
                </div>
            </div>
        </div>
    </div>
</div>





<%= _.template(require('./../includes/footer.html').default)(data) %>