<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="body catalog">
  <div class="container">
    <div class="breadcrumbs">
      <a href="#1" class="item link">Главная</a>
      /
      <a href="#1" class="item">Каталог</a>
    </div>
    <div class="catalog-row">
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/main-content/split-system.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Сплит-системы</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/catalog/wall_conditioner.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Настенные кондиционеры</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/catalog/kasset.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Кассетные кондиционеры</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/catalog/column.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Колонные кондиционеры</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/catalog/mobile.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Мобильные кондиционеры</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/main-content/split-system.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Сплит-системы</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/main-content/split-system.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Сплит-системы</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/main-content/split-system.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Сплит-системы</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/main-content/split-system.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Сплит-системы</a>
        </div>
      </div>
      <div class="item">
        <div class="img">
          <a href="#1" class="link">
            <img data-src="./img/main-content/split-system.jpg" alt="time" class="lozad first">
          </a>
        </div>
        <div class="title">
          <a href="#1" class="link">Сплит-системы</a>
        </div>
      </div>
    </div>
  </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>