<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body catalog-inner">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#1" class="item link">Главная</a>
            /
            <a href="#1" class="item link">Каталог</a>
            /
            <a href="#1" class="item">Кондиционеры</a>
        </div>
        <div class="h1">
            Кондиционеры
        </div>
        <div class="catalog-inner-row">
            <div class="sidebar-block">
                <div class="sidebar-block-head">
                    Каталог
                </div>
                <div class="menu-list one" data-toggle-holder>
                    <div class="item">
                        <a href="#" target="_blank" class="link ">
                            <span class="text">Кондиционеры</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link">
                            <span class="text">Сплит-системы</span>
                        </a>
                        <a class="icon-sidebar-down" data-toggle-btn></a>
                        <div class="submenu" data-hidden-content>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Настенные сплит-системы</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Инверторные сплит-системы</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Кассетного типа</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link">
                            <span class="text">Мульти-сплит системы</span>
                        </a>
                        <a class="icon-sidebar-down" data-toggle-btn></a>
                        <div class="submenu" data-hidden-content>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 2 комнаты</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 3 комнаты</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 4 комнаты</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 5 комнат</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 6 комнат</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link ">
                            <span class="text">Промышленные кондиционеры</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link ">
                            <span class="text">Мобильные кондиционеры</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="sidebar-block">
                <div class="sidebar-block-head">
                    Фильтр
                </div>
                <div class="menu-list one" data-toggle-holder>
                    <div class="item">
                        <a href="#" target="_blank" class="link">
                            <span class="text">Цена</span>
                        </a>
                        <a class="icon-sidebar-down" data-toggle-btn></a>
                        <div class="submenu" data-hidden-content>
                            <div class="price-block">
                                <div class="price-inputs-wrapper">
                                    <div class="price-input">
                                        <label class="field classic">
                                            <input type="number"
                                                   class="input-number"
                                                   name="min_price_desktop_input"
                                                   id="min_price_desktop_input"
                                            />
                                        </label>
                                    </div>
                                    <div class="decorate-divider"></div>
                                    <div class="price-input">
                                        <label class="field classic">
                                            <input type="number"
                                                   class="input-number"
                                                   name="max_price_desktop_input"
                                                   id="max_price_desktop_input"
                                            />
                                        </label>
                                    </div>
                                </div>
                                <div class="price-slider">
                                    <input type="text"
                                           class="range-slider"
                                           name="range-slider"
                                           value=""
                                           id="range_slider"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <a href="#" target="_blank" class="link">
                            <span class="text">Мульти-сплит системы</span>
                        </a>
                        <a class="icon-sidebar-down" data-toggle-btn></a>
                        <div class="submenu" data-hidden-content>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 2 комнаты</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 3 комнаты</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 4 комнаты</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 5 комнат</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">
                Мульти сплит-системы на 6 комнат</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link ">
                            <span class="text">Промышленные кондиционеры</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link ">
                            <span class="text">Мобильные кондиционеры</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


%= _.template(require('./../includes/footer.html').default)(data) %>