<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body catalog-inner">
    <div class="container">
        <div class="breadcrumbs">
            <a href="#1" class="item link">Главная</a>
            /
            <a href="#1" class="item link">Каталог</a>
            /
            <a href="#1" class="item">Кондиционеры</a>
        </div>
        <div class="h1">
            Кондиционеры
        </div>
        <div class="catalog-inner-row">
            <div class="sidebar-block">
                <div class="sidebar-block-head">
                    Каталог
                </div>
                <div class="menu-list one" data-toggle-holder>
                    <div class="item">
                        <a href="#" target="_blank" class="link">
                            <span class="text">Кондиционеры</span>
                        </a>
                        <a class="icon-sidebar-down" data-toggle-btn></a>
                        <div class="submenu" data-hidden-content>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Сплит-системы</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Кондиционеры</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Бризеры</span></a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link ">
                            <span class="text">Сплит системы</span>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" target="_blank" class="link">
                            <span class="text">Кондиционеры</span>
                        </a>
                        <a class="icon-sidebar-down" data-toggle-btn></a>
                        <div class="submenu" data-hidden-content>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Сплит-системы</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Кондиционеры</span></a>
                            <a href="#" target="_blank" class="submenu-link"><span class="text">Бризеры</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


%= _.template(require('./../includes/footer.html').default)(data) %>