<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body faq">
    <div class="section accordion-section">
        <div class="container">
            <h1 class="headline-1">Вопросы и ответы</h1>
            <p>Кондиционеры, купленные зимой, можно установить сразу или дождаться весны. Монтаж сплит-систем в холодное время года имеет свои плюсы и минусы. Рассмотрим их.</p>

            <div class="headline-2">Преимущества:</div>
            <div class="accordion-list">
                <div class="item">
                    <h3 class="headline-3 accordion-title" data-open-block>
                        Чем различаются мультисплит-система и обычная сплит-система?
                    </h3>
                    <div class="accordion-dropdown">
                        <p>Обычная сплит-система – это один наружный блок и один внутренний. Она предусмотрена для обогрева или охлаждения только одного помещения. Мультисплит-система – это один наружный блок и несколько внутренних, причем количество внутренних блоков может составлять от 2 до 8. Основные функции у этих двух систем совершенно одинаковы.</p>
                    </div>
                </div>

                <div class="item">
                    <h3 class="headline-3 accordion-title" data-open-block>
                        Можно ли после установки кондиционера перевесить внутренний блок на другое место?
                    </h3>
                    <div class="accordion-dropdown">
                        <p>Переместить внутренний блок сплит-системы после окончательной установки, конечно, можно, но при этом нужно будет учитывать некоторые детали. Поэтому лучше доверить перемещение внутреннего или внешнего блока специалистам, у которых имеется необходимое оборудование, помогающее решить эту проблему максимально быстро и безопасно.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<%= _.template(require('./../includes/footer.html').default)(data) %>