<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body">
    <div id="main_page">
        <div class="section no-padding-vertical main-block gray">
            <div class="container">
                <div class="main-content">
                    <div class="main-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slide">
                                    <div class="photo lozad" data-background-image="./img/slider/slide1.jpg">

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide">
                                    <div class="photo lozad" data-background-image="./img/slider/slide2.jpg">

                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="slide">
                                    <div class="photo lozad" data-background-image="./img/slider/slide3.jpg">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination main-swiper-pagination"></div>
                        <div class="main-button-next main-slider-nav">
                            <div class="icon-arrow icon-arrow-left">
                                <div class="icon lozad" data-background-image="./img/icons/icon-arrow-right.svg"></div>
                            </div>
                        </div>
                        <div class="main-button-prev main-slider-nav">
                            <div class="icon-arrow icon-arrow-right">
                                <div class="icon lozad" data-background-image="./img/icons/icon-arrow-left.svg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="main-product">
                        <div class="main-product-item first">
                            <a href="#1" class="item">
                                <div class="img lozad" data-background-image="./img/slider/main-product-item1.jpg">

                                </div>
                                <div class="item-name">
                                    Кондиционеры
                                </div>
                            </a>
                        </div>
                        <div class="main-product-item">
                            <a href="#1" class="item">
                                <div class="img lozad" data-background-image="./img/slider/pik.jpeg"></div>
                                <div class="item-name">
                                    Готовые решения для ПИК
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section advantages padding-bottom-x2 gray no-padding-top">
            <div class="container">
                <div class="advantages-row">
                    <div class="item">
                        <div class="icon">
                            <img data-src="/img/icons/icon-delivery.svg" alt="time" class="lozad first">
                        </div>
                        <div class="description">
                            Прямые поставки
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img data-src="/img/icons/icon-air-conditioner.svg" alt="time" class="lozad first">
                        </div>
                        <div class="description">
                            "Климат под ключ":
                            подбор, монтаж, ремонт
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img data-src="/img/icons/icon-service.svg" alt="time" class="lozad first">
                        </div>
                        <div class="description">
                            Сервисный центр - быстро и качественно
                        </div>
                    </div>
                    <div class="item">
                        <div class="icon">
                            <img data-src="/img/icons/icon-builder.svg" alt="time" class="lozad first">
                        </div>
                        <div class="description">
                            Профессионалы в штате - лучшая гарантия!
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section popular-products">
            <div class="container">
                <div class="title h2 text-align-left">
                    Популярные категории
                </div>
                <div class="pupular-products-row swiper" id="popular-product-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="img">
                                    <a href="#1" class="link">
                                        <img data-src="/img/main-content/split-system.jpg" alt="time" class="lozad first">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="#1" class="link">Сплит-системы</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="img">
                                    <a href="#1" class="link">
                                        <img data-src="/img/main-content/multi-split.jpg" alt="time" class="lozad first">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="#1" class="link">Мультисплит системы</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="img">
                                    <a href="#1" class="link">
                                        <img data-src="/img/main-content/breazer.jpg" alt="time" class="lozad first">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="#1" class="link">Бризеры</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slider">

                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <div class="img">
                                    <a href="#1" class="link">
                                        <img data-src="/img/main-content/floor-conditioner.jpg" alt="time" class="lozad first">
                                    </a>
                                </div>
                                <div class="title">
                                    <a href="#1" class="link">Напольно-потолочные кондиционеры</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-button-next-popular main-slider-nav">
                        <div class="icon-arrow icon-arrow-left">
                            <div class="icon lozad" data-background-image="./img/icons/icon-arrow-right.svg"></div>
                        </div>
                    </div>
                    <div class="main-button-prev-popular main-slider-nav">
                        <div class="icon-arrow icon-arrow-right">
                            <div class="icon lozad" data-background-image="./img/icons/icon-arrow-left.svg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section consultation-block">
            <div class="container">
                <div class="consultation-content">
                    <div class="title h2 color-white text-align-left">
                        Получите бесплатную консультацию<br> по подбору кондицонера
                    </div>
                    <div class="description">
                        Просто заполните форму заявки <br> и мы перезвоним вам!
                    </div>
                    <form id="consultation-form" class="feed-form" action="#1">
                        <input name="f_name" required placeholder="Ваше имя" type="text" data-inputmask-regex="[a-za-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?">
                        <input name="f_phone" required placeholder="Ваш телефон">
                        <input name="f_email" required placeholder="Ваш e-mail" type="email">

                        <button class="button submit">Заказать консультацию</button>
                    </form>
                </div>
            </div>
            <div class="consultation-bg lozad" data-background-image="./img/consultation-bg.jpg"></div>
        </div>
        <div class="hr"></div>
        <div class="section">
            <div class="container">
                <div class="title h2 text-align-left">
                    Немного о нас
                </div>
                <div class="main-about">
                    <div class="main-about-left">
                        <img data-src="/img/main-content/about-conditioner.jpg" alt="time" class="lozad first">
                    </div>
                    <div class="main-about-right">
                        <p>Компания <span class="font-weight-bold color-main">SV-Climat</span> — это сплочённая команда профессионалов.</p>
                        <p>Цель компании — взять на себя все проблемы создания уютного климата.</p>
                        <p>Мы уверены в своих силах, потому, что сделали ставку на самые современные и функциональные технологии кондиционирования.</p>
                        <p>Преимущества сотрудничества с нами:</p>
                        <ul>
                            <li>скорость и качество обслуживания,</li>
                            <li>наличие службы постоянной технической поддержки клиентов,</li>
                            <li>разработка индивидуальных схем работы с частными и корпоративными клиентами,</li>
                            <li>большой выбор моделей кондиционеров на любой вкус и кошелёк</li>
                        </ul>
                        <p>Ваш комфорт — наша забота!</p>
                        <a href="#1" class="button no-margin-vertical">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= _.template(require('./../includes/footer.html').default)(data) %>
