<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body mounting">
  <div class="section no-padding-top">
    <div class="container">
      <div class="breadcrumbs">
        <a href="#1" class="item link">Главная</a>
        /
        <a href="#1" class="item">Монтаж</a>
      </div>
      <div class="title">
        Монтаж кондиционера
      </div>
      <div class="text">
        Кондиционер не является конечным продуктом, таким, например, как телевизор, холодильник или микроволновая печь, которые вы можете принести из магазина, включить в розетку и начать пользоваться. Любой кондиционер сначала необходимо правильно установить. А от качества монтажа напрямую зависит срок службы дорогостоящего бытового прибора.
      </div>
      <div class="title">
        Выбери своё предложение на установку кондиционера:
      </div>
      <div class="list">
        <div class="text-content">
          <div class="subtitle">
            Стандартная установка
          </div>
          <div class="text">
            Стандартная установка кондиционера, сплит-системы включает в себя следующие основные работы:
          </div>
          <ul class="text">
            <li>Монтаж внутреннего блока кондиционера на стене внутри помещения с минимальным расстоянием от потолка не менее 100 мм.</li>
            <li>Монтаж внешнего блока кондиционера (под окном, на балконе) без работы альпиниста.</li>
            <li>Бурение сквозного отверстия под коммуникации d=45 мм.</li>
            <li>Укладка между блоками фреоновых трубопроводов, силового кабеля, дренажной трубы до 5 м.</li>
            <li>Установка декоративного короба 60х60 под трубопровод внутри помещения до одного метра.</li>
            <li>Установка декоративного короба 16х16 под силовой кабель внутри помещения до двух метров, при необходимости монтаж электрической вилки.</li>
            <li>Кабеля до 3-х метров.</li>
            <li>Вакуумирование фреонового трубопровода (удаление влаги).</li>
            <li>Герметизация отверстия в стене монтажной пеной.</li>
            <li>Проверка работы сплит-системы в штатных режимах</li>
          </ul>
          <div class="subtitle">
            НЕстандартная установка
          </div>
          <div class="text">
            Стоимость монтажа сплит-системы на вашем объекте может отличаться от стандартной цены. Итоговая цена зависит от толщины стен, удаленноти внутреннего блока от нарудного, если требуется штробить стены для прокладки коммуникаций, если требуются альпинийские работы или автовышка и от других особенностей объекта. Обращайтесь - проконсультируем, посчитаем итоговую стоимость.
          </div>
        </div>
        <div class="img">
          <img data-src="./img/montazh/montazh_1.jpg" alt="montazh" class="lozad first">
        </div>
      </div>
      <div class="list-first-image">
        <div class="title">
          Монтаж кондиционеров в ПИКовских домах
        </div>
        <div class="row">
          <div class="img">
            <img data-src="./img/montazh/montazh_2.jpg" alt="montazh" class="lozad first">
          </div>
          <div class="text-content">
            <div class="text">
              <p>Условия размещения климатического оборудования у каждого застройщика индивидуальны. Некоторые сразу прокладывают трассы, но со своими «особенностями», кто-то устанавливает боксы под внешний блок у соседа или маленького размера, а есть и те, у которых все удобно и продуманно.</p>
              <p>Имея большой опыт работы в домах Группы Компаний ПИК, мы знаем множество нюансов, с которыми можем столкнуться на данных объектах и готовы к этому!</p>
              <div class="subtitle">
                Мы работаем эксклюзивным способом:
              </div>
              <ul class="text">
                <li>Без согласований с УК</li>
                <li>Без привлечения соседей сверху
                </li>
              </ul>
              <p>
                Для жителей ЖК Группы Компаний ПИК у нас всегда спец.условия на технику и выгодная цена на монтаж.
              </p>
            </div>


          </div>
        </div>

      </div>
      <div class="title">
        Что входит в стоимость стандартного монтажа?
      </div>
      <div class="text-2-columns">
        <div class="work">
          <div class="title">
            работы
          </div>
          <ul class="text">
            <li>Навеска наружного блока из окна;</li>
            <li>Навеска внутреннего блока на стену;</li>
            <li>Пробивка 1 отверстия под коммуникации (диаметром не более 4 см);</li>
            <li>Прокладка фреоновой трассы между блоками (до 4 м);</li>
            <li>Вывод дренажного шланга на улицу (до 4 м);</li>
            <li>Подключение межблочного кабеля (до 4 м);</li>
            <li>Укладка коммуникаций внутри помещения в пластиковый короб (до 0,5 м);</li>
            <li>Демонстрация функций кондиционера заказчику.</li>
          </ul>
        </div>
        <div class="materials">
          <div class="title">
            материалы
          </div>
          <ul class="text">
            <li>2 медные трубы (газ/жидкость ATSM B280) 4 м каждая;</li>
            <li>Изоляция труб – 8 м;</li>
            <li>Межблочный кабель – 4 м;</li>
            <li>Дренажный шланг – 2 м;</li>
            <li>Кронштейны под наружный блок ;</li>
            <li>Декоративный короб 60*60 мм – до 0,5 м;</li>
            <li>Декоративный короб 16*16 мм – до 2 м;</li>
            <li>Сетевая вилка – 1 шт;</li>
            <li>Стандартный крепежный материал.</li>
          </ul>
        </div>
      </div>
      <div class="title">
        Стоимость стандартного монтажа кондиционеров
      </div>
      <div class="img">
        <img data-src="./img/montazh.jpg" alt="montazh" class="lozad first">
      </div>

    </div>
  </div>
</div>





<%= _.template(require('./../includes/footer.html').default)(data) %>