<% var data = {
title: "Sw-climat",
themeClass: "",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<div class="body pik">
    <div class="section gray no-padding-top">
        <div class="main-block">
            <div class="main-block-info">
                Выгодные предложения для жителей ГК ПИК
            </div>
        </div>
    </div>
    <div class="section">
        <div class="catalog-products">
            <div class="catalog-products-row">
                <div class="item">
                    <div class="card">
                        <div class="card-stickers-wrapper">
                            <div class="card-badges">
                                <span class="new">New</span>
                                <span class="sale">%</span>
                            </div>
                            <div class="card-stickers">
                                <span class="wifi">
                                    <img data-src="/img/icons/wifi.svg" alt="time" class="lozad first" src="/img/icons/wifi.svg"
                                     data-loaded="true">
                                </span>
                            </div>
                        </div>
                        <div class="card-header-wrapper">
                            <div class="card-header">

                            </div>
                        </div>
                        <div class="card-image-wrapper">
                            <a href="#1" class="card-image-link">
                                <img data-src="/img/main-content/split-system.jpg" alt="time" class="lozad first" src="/img/main-content/split-system.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





<%= _.template(require('./../includes/footer.html').default)(data) %>