.accordion-section {

  .item {
    padding: 0 19px;
    border-radius: 12px;
    background-color: $colorLightGray;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &.open {
      background-color: #f7f9fb;

      .accordion-title {

        &::before {
          transform: translateY(-50%) rotate(0);
        }
      }

      .accordion-dropdown {
        display: block;
      }
    }

    .accordion-title {
      position: relative;
      padding: 14px 0 14px 33px;
      margin: 0;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 14px;
        height: 2px;
        border-radius: 3px;
        background: $colorDarkGray;
        transform: translateY(-50%);
        transition: transform 0.15s ease-in-out;
      }

      &::before {
        transform: translateY(-50%) rotate(90deg);
      }
    }

    .accordion-dropdown {
      display: none;
      padding: 14px 0;
      transition: height 2s ease-in-out;

      @include desktop {
        padding-bottom: 20px;
      }

      p {
        color: $colorBlack;
        font-size: 14px;
        line-height: 179.19%;
      }
    }
  }
}