.breadcrumbs {
  margin: 10px 0;
  .item {
    font-size: 13px;
    color: $colorDarkGray;
    cursor: default;
    text-decoration: none;

    &.link {
      font-weight: 700;
      cursor: pointer;
      text-decoration: underline;
      color: $colorLink;

      &:hover {
        text-decoration: none;
      }
    }
  }
}