.catalog-inner {
  .catalog-inner-row {
    display: flex;
    .sidebar-block {
      width: 25%;
      .sidebar-block-head {
        font-weight: bold;
        word-wrap: break-word;
        color: $colorBlack;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 15px;
        font-size: 18px;
        border-bottom: 1px solid #dfdfdf;
        padding: 5px 10px 10px 0;
      }

      .menu-list {
        display: block;
        margin-left: 0;
        border-bottom: 1px solid #dfdfdf;
        margin-bottom: 20px;
        padding-bottom: 10px;

        .item {
          font-size: 15px;
          padding: 3px 0;
          color: $colorBlack;
          display: block;
          position: relative;
          z-index: 800;
          margin: 0;


          .link {
            position: relative;
            display: block;
            width: 100%;
            color: $colorBlack;
            text-decoration: none;
            text-transform: none;
            transition: color .1s ease-out .1s;
            padding: 4px 0;

            &:hover {
              color: $colorSecondaryHover;
            }

            &.active {
              color: $colorSecondaryHover;
            }
          }

          .icon-sidebar-down {
            cursor: pointer;
            position: absolute;
            display: block;
            top: 6px;
            right: 24px;
            width: 12px;
            height: 12px;
            background: url('../img/icons/chevron-down.svg');
            transition: transform 0.2s ease-in-out;

            &.active {
              transform: rotate(-180deg);
            }
          }

          .submenu {
            display: none;
            padding-left: 10px;

            &-link {
              position: relative;
              display: block;
              width: 100%;
              text-decoration: none;
              color: $colorBlack;
              padding: 4px 0;


              &:hover {
                color: $colorSecondaryHover;
              }

              &.active {
                color: $colorSecondaryHover;
              }

              &:not(:last-child) {
                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 24px;
                  display: block;
                  width: calc(100% - 48px);
                  height: 1px;
                  background-color: $colorWhiteOpacity;
                }
              }
            }
          }
        }
      }

      .sidebar-block-content {
        display: flex;

        .sidebar-menu {


          .sidebar-menu-item {
            font-size: 16px;
            display: flex;
            position: relative;
            padding: 3px 0;
            margin-left: 3px;
            color: $colorBlack;
            transition: color 0.15s ease-out 0.15s;
          }
        }



      }
    }
  }
}