.catalog {
  .catalog-row {
    display: flex;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;

    .item  {
      min-height: 220px;
      padding: 20px;
      transition: .2s;
      flex: 0 1 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      border: 1px solid #ececec;

      @include only-desktop-smaller {
        flex: 0 1 25%;
      }

      @include mobile {
        flex: 0 1 33%;
      }

      @include only-mobile  {
        flex: 0 1 50%;
      }

      @include only-small-mobile  {
        flex: 0 1 100%;
      }

      &:hover {
        box-shadow: 0 8px 15px rgb(0 0 0 / 15%);

        .title {
          a {
            color: $colorSecondaryHover;
            transition: .2s;
          }
        }
      }

      .img {

        .link {
          img {
            max-width: 140px;
            width: 100%;
            min-height: 140px;
          }
        }

      }

      .title {
        padding-top: 15px;
        a {
          text-decoration: none;
          font-size: $indent16;
          font-weight: 600;
          color: $colorPrimary;
        }
      }
    }
  }
}