.delivery {
  .delivery-row {
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }

    .img {
      width: 40%;

      @include mobile {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    .text {
      margin-left: 10px;
      width: 60%;

      @include mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }

      .title {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}