.delivery {
  .delivery-row {
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }

    .img {
      width: 60%;

      @include mobile {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    .content {
      margin-left: 10px;
      width: 40%;

      @include mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
      }

      .title {
        font-size: 18px;
        color: $colorSecondaryHover;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .payment-row {
    margin-top: 20px;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }

    .img {
      width: 50%;

      @include mobile {
        width: 100%;
        max-height: 300px;
      }

      img {
        width: 100%;
      }
    }

    .content {
      margin-left: 10px;
      width: 50%;

      @include mobile {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
        order: 2;
      }

      .title {
        font-size: 18px;
        color: $colorSecondaryHover;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}