.price-block{
  margin-bottom:32px;

  .price-inputs-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    .price-input{
      width: 43%;

      .field{
        margin-bottom: 0;
      }
    }

    .decorate-divider{
      display: block;
      width: 27px;
      height: 1px;
      background: #989FB1;
    }
  }
}

.manufacturers-block{
  padding-bottom: 32px;
  border-bottom: 1px solid #E0E0E0;


  .manufacturers-wrapper{
    display: flex;
    flex-direction: column;

    .manufacturers{
      display: flex;
      flex-direction: column;
      max-height: 160px;
      transition: .2s linear;
      overflow-y: auto;

      .custom-checkbox-label{
        @extend .custom-checkbox-label;
        @extend .body-14;
        margin-bottom: 16px;
        font-family: $fontLight;
        margin-bottom: 0;

        &.disabled{
          cursor: default;
          pointer-events: none;
          color: #C6C8CF;

          &:before{
            background: #F5F5F5;
          }
        }
      }
    }

  }
}