.main-about {
  display: flex;
  align-items: flex-start;

  @include only-mobile {
    flex-wrap: wrap;
  }

  .main-about-left {
    flex: 0 1 33%;
    margin-right: 20px;

    @include mobile {
      flex: 0 1 50%;
    }

    @include only-mobile {
      flex: 0 1 100%;
      margin-right: 0;
    }
    
    img {
      max-width: 100%;
    }
  }

  .main-about-right {
    flex: 0 1 66%;
    font-size: $indent16;

    @include mobile {
      flex: 0 1 50%;
    }

    @include only-mobile {
      flex: 0 1 100%;
    }

    p {
      &:first-child {
        margin-top: 0;

        @include only-mobile {
          margin-top: 15px;
        }
      }
    }
  }
}
