.main-about {
  display: flex;
  align-items: flex-start;

  .main-about-left {
    flex: 0 1 30%;
    margin-right: 20px;
    
    img {
      max-width: 100%;
    }
  }

  .main-about-right {
    font-size: $indent16;

    p {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
